<table>
    <thead>
      ...
    </thead>
    <tbody>
    {% for item in data %}
      <tr>
        <td>{{item.index}}</td> <!-- Index -->
        <td>{{item.title}}</a></td> <!-- Title -->
        <td>{{item.artist}}</td> <!-- Artist -->
        <td>{{item.key}}</td> <!-- Key -->
        <td>{{item.mode}}</td> <!-- Mode -->
        <td>{{item.audio_features.time_signature}}</td> <!-- Time Signature -->
      <td>{{item.acousticness | float}}</td>  <!--  Acousticness -->
                <td>{{item.danceability | float}}</td>  <!--  Acousticness -->
                <td>{{item.energy | float}}</td>  <!--  Acousticness -->
      </tr>
    {% endfor %}
    </tbody>
</table>
