<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/MatchingApp/stylesheet/loginSuccessfully.css">
    <link rel="stylesheet" href="/MatchingApp/stylesheet/menu.css">
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>
<a class="MenuLogin" href="/MatchingApp/login">Login</a>
<a class="MenuSingUp" href="/MatchingApp/registrationUser">Sing Up</a>
<a class="MenuAddPlaylist" href="/MatchingApp/addPlaylist">AddPlaylist</a>
<a class="MenuFindMatch" href="/MatchingApp/match/">Find Match</a>


<div class="YouHaveSuccessfullyLoggedIn">you have successfully logged in</div>



</body>
</html>