<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/login.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/MatchingApp/loginUser" method="POST">

    <div class="LoginForm"></div>
    <div class="Login" style="width: 173px; height: 46px; left: 643px; top: 288px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">LOGIN</div>

    <input type="text" id="username" name="username" placeholder="Username" class="Username"><br>
    <div class="Line1"></div>

    <input type="password" id="password" name="password" placeholder="Password" class="Password"><br><br>
    <div class="Line2"></div>

    <input type="submit"  class="submit" value="Login">
</form>

</body>
</html>