<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/registration.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="/MatchingApp/createUser" method="POST">
    <div class="SingUpForm"></div>
    <div class="SingUp" style="width: 173px; height: 46px; left: 633px; top: 288px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-style: italic; font-weight: 600; word-wrap: break-word">SING UP</div>

    <input type="text" id="username" name="username" placeholder="Username" class="Username"><br>
    <div class="Line1"></div>


    <input type="password" id="password" name="password" placeholder="Password" class="Password"><br><br>
    <div class="Line2"></div>


    <input type="text" id="email" name="email" placeholder="Email" class="Email"><br><br>
    <div class="Line3"></div>

    <input type="submit"  class="singUp" value="Sing Up">

</form>


</body>
</html>